users.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://roytuts.com/UserService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://roytuts.com/UserService" targetNamespace="https://roytuts.com/UserService">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://roytuts.com/UserService">
	<xs:element name="getCarDetailsRequest">
		<xs:complexType>
			<xs:sequence>
                <xs:element name="model" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1" />
                <xs:element name="customerName" type="xs:string"  minOccurs="0" maxOccurs="1"/>
                <xs:element name="endDate" type="xs:string"  minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getCarDetailsResponse">
		<xs:complexType>
			<xs:sequence>
                <xs:element name="cars" type="tns:Car" minOccurs="0"
                            maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
        <xs:complexType name="Car">
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
                <xs:element name="model" type="xs:string" />
                <xs:element name="endDate" type="xs:string"  minOccurs="0" maxOccurs="1"/>
                <xs:element name="customerName" type="xs:string"  minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCarDetailsResponse">
    <wsdl:part element="tns:getCarDetailsResponse" name="getCarDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarDetailsRequest">
    <wsdl:part element="tns:getCarDetailsRequest" name="getCarDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserPort">
    <wsdl:operation name="getCarDetails">
      <wsdl:input message="tns:getCarDetailsRequest" name="getCarDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCarDetailsResponse" name="getCarDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserPortSoap11" type="tns:UserPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCarDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCarDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCarDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserPortService">
    <wsdl:port binding="tns:UserPortSoap11" name="UserPortSoap11">
      <soap:address location="http://localhost:9999/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
